#btn:hover{
    color: white;
    background-color: blueviolet;
    border: 0.1px black solid;
}

#btn2:hover{
    color: white;
    background-color: blueviolet;
    border: 0.1px black solid;
}

#btn3:hover{
    color: white;
    background-color: blueviolet;
    border: 0.1px black solid;
}